$font-body: 'Work Sans', sans-serif;
$font-text: 'Poppins', sans-serif;
$font-text-alt: 'Oswald', sans-serif;

//Colours

$white: #ffffff;
$black: #111111;
$mine-shaft: #373636;
$mine-dark: #222222;
$galliano: #CBA20E;
$yellow-light: #FFC41B;
$cod-gray: #1A1A1A;
$dove-gray: #686868;
$teak: #b4916b;
$curious-blue: #247fe1;
$bluewood: #283745;
$gray-light: #FAFAFA;
$gray-dark: #333;
$gray: #757575;
$cerulean-blue: #264DC2;
$blue-bay: #133c90;
$silver: #aaaaaa;
$silver-light: #cccccc;
$silver-dark: #a9a8a8;