---
layout: default
title: Service
titleAfter: Aluminium Cladding
meta: Meta data goes here
permalink: /service/alucobondcladding/
---

    
<!--    main content start -->
<!-- page-heading start-->
    <section class="cs-page-heading-area" style="background-image: url({{site.url}}/assets/images/bg/alucobondcladding.jpg);">
        <div class="container">
            <div class="section-wrap">
                <div class="row animatedParent animateOnce">
                    <div class="col-sm-12">
                        <div class="cs-page-linkbox animated fadeInLeft slow">
                            <h3>service details</h3>
                            <p><a href="/">Home</a> / <a href="/service/">service</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page-heading end -->



    <!-- service details start-->
    <section class="cs-service-details-area">
        <div class="container">
            <div class="section-wrap">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="cs-service-details-col">
                            <div class="cs-overly-img-field animatedParent animateOnce">
                                <div class="cs-overlay-black animated fadeInLeft slow">
                                    <img src="images/service/1.jpg" alt="images/service/1.jpg">
                                    <div class="cs-over-text">
                                        <i class="flaticon-buildings"></i>
                                        <h3>Master Plans</h3>
                                        <p>eget est semper convallis</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cs-about-box"><h2>Alucobond <span>Cladding</span></h2> </div>
                            <p class="mb20 mt30">Providing a great look to your building with unique colors requires the use of a rather complex panel harmonizing two aluminium cover sheets and a mineral-filled polymer core. This unique characteristic of alucobond provides a whole new inspiration to the surrounding buildings or the environment. Because of our experience, we look out for unique custom colors which fits your projects, whether is a corporate office or headquarters, private home, a public building or an industry. Our projects on Alucobond is generally used for branding, corporate buildings and structures such as banks, data centers, business centers, restaurants, and fuel stations.</p>
                            <div class="row mt50">
                                <div class="col-sm-7 animatedParent animateOnce">
                                    <div class="cs-service-details-col animated fadeInLeft slow delay-250">
                                        <img src="images/service/2.jpg" alt="images/service/2.jpg">
                                    </div>
                                </div>
                                <div class="col-sm-5 animatedParent animateOnce">
                                    <div class="cs-service-details-col animated fadeInLeft slow delay-500">
                                        <img src="images/service/3.jpg" alt="images/service/3.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="cs-service-details-col">
                            <div class="cs-contact-box cs-overlay-brown" style="background-image: url(images/bg/6.jpg);">
                                <img src="images/service/5.png" alt="images/service/5.png">
                                <div class="cs-contact-info">
                                    <p>213 South 27th Avenue, Broken Bow NE 68822, United States.+880 1234 567890, +880 9876 543210
                                    <br>info@alumills.com</p>
                                </div>
                            </div>
                            <div class="cs-site-link">
                                <a href="#">https://www.alumills.com/</a>
                            </div>

                            <!-- accordion start -->
                            {% include section/accordion.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details end -->

    
    <!-- clients start-->
    {% include section/clients.html %}
