<footer class="cs-main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="cs-footer-col">
                    <img src="{{site.url}}/assets/images/logo/logo-2.png" alt="{{site.url}}/assets/images/logo/logo-2.png">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-5">
                <div class="cs-footer-col clearfix">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href="{{site.url}}/history/">About us</a></li>
                        <li><a href="{{site.url}}/service/aluminium-glazing/">services</a></li>
                        <li><a href="{{site.url}}/project/">project</a></li>
                        <li><a href="{{site.url}}/blog/">blog</a></li>
                        <li><a href="{{site.url}}/contact/">contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="cs-footer-col">
                    <form class="input-group">
                        <div class="form-group">
                          <input class="form-control" type="email" placeholder="Enter Your Mail">
                        </div>
                        <span class="input-group-btn">
                          <button class="btn btn-default cs-sent-btn" type="submit">
                            <span class="icon icon-Plaine"></span>
                          </button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>