<div class="navbar-collapse collapse clearfix">
    <ul class="navigation clearfix">
        <li class="current"><a href="/">Home</a></li>
        <li class="dropdown"><a href="{{site.url}}/about/mission-vision/">About Us</a>
            <ul>
                <li><a href="{{site.url}}/about/mission-vision/">mission & vision</a></li>
                <li><a href="{{site.url}}/about/history/">history</a></li>
                <li><a href="{{site.url}}/about/team/">Our Team</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="{{site.url}}/service/">Service</a>
            <ul>
                 <li><a href="{{site.url}}/service/aluminium-glazing/">aluminium glazing</a></li>
                <li><a href="{{site.url}}/service/buildingconstruction/">Building Construction</a></li>
                <li><a href="{{site.url}}/service/curtainwalling/">Curtain Walling</a></li>
                <li><a href="{{site.url}}/service/alucobondcladding/">Alucobond Cladding</a></li>
                <li><a href="{{site.url}}/service/framelessdoorsandwindows/">Frameless Doors & Windows</a></li>
                <li><a href="{{site.url}}/service/officepartition/">Office Partitioning</a></li>
                <li><a href="{{site.url}}/service/stainlessbalustrade/">Stainless steel balustrades</a></li>
                <li><a href="{{site.url}}/service/plasteringboarding/">Plaster boarding partitioning & ceiling</a></li>
                <li><a href="{{site.url}}/service/metalworks/">Metal works & Burglar proof</a></li>
                <li><a href="{{site.url}}/service/electricworks/">Electric works</a></li>
            </ul>
        </li>
        <li class="">
            <a href="{{site.url}}/project/">Project</a>
        </li>
        <li class="">
            <a href="{{site.url}}/blog/">Blog</a>
        </li>

        <li class="">
           <a href="{{site.url}}/contact/">Contact</a>
        </li>
    </ul>
</div>