<section class="cs-blog-area">
    <div class="section-title">
        <div class="cs-ver-section-title cs-hor-section-title">
            <h1>our blog</h1>
            <h2>news and blog</h2>
            <div class="cs-section-bdr"></div> 
        </div>
    </div>
    <div class="container">
        <div class="section-wrap">
            <div class="row animatedParent animateOnce">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cs-full-wd480">
                    <div class="cs-blog-col animated fadeInLeftShort slow delay-250">
                        <div class="cs-blog-img">
                            <img src="{{site.url}}/assets/images/blog/1.jpg" alt="{{site.url}}/assets/images/blog/1.jpg">
                            <div class="cs-bg-path"></div>
                            <div class="cs-link-box">
                                <a href="https://www.youtube.com/watch?v=iuc9R-3lge8" class="lightbox-image" title="Click Here"><span class="icon icon-Video"></span></a>
                            </div>
                        </div>
                        <div class="cs-blog-content clearfix">
                            <h4><a href="blog-grid.html">Aluminium Glazing doors & Windows</a></h4>
                            <p>by Alumills , 2nd May, 2017</p> 
                            <a class="btn btn-default cs-my-btn-white pull-right mt20" href="blog-single.html">Read More</a>
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cs-full-wd480">
                    <div class="cs-blog-col animated fadeInLeftShort slow delay-500">
                        <div class="cs-blog-img">
                            <img src="{{site.url}}/assets/images/blog/2.jpg" alt="{{site.url}}/assets/images/blog/2.jpg">
                            <div class="cs-bg-path"></div>
                            <div class="cs-link-box">
                                <a href="{{site.url}}/assets/images/blog/2.jpg" class="lightbox-image" title="Click Here"><span class="icon icon-Web"></span></a>
                            </div>
                        </div>
                        <div class="cs-blog-content clearfix">
                            <h4><a href="blog-single.html">Office Partitioning</a></h4>
                            <p>by Alumills, 4th May, 2017</p> 
                            <a class="btn btn-default cs-my-btn-white pull-right mt20" href="#">Read More</a>

                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 cs-full-wd480">
                    <div class="cs-blog-col animated fadeInLeftShort slow delay-500">
                        <div class="cs-blog-img">
                            <img src="{{site.url}}/assets/images/blog/3.jpg" alt="{{site.url}}/assets/images/blog/2.jpg">
                            <div class="cs-bg-path"></div>
                            <div class="cs-link-box">
                                <a href="{{site.url}}/assets/images/blog/3.jpg" class="lightbox-image" title="Click Here"><span class="icon icon-Cassette"></span></a>
                            </div>
                        </div>
                        <div class="cs-blog-content clearfix">
                            <h4><a href="blog-single.html">Frameless Partitioning & door</a></h4>
                            <p>by Alumills , 3rd May, 2017</p> 
                            <a class="btn btn-default cs-my-btn-white pull-right mt20" href="blog-single.html">Read More</a>

                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog end -->