<section class="cs-clients-area">
    <div class="container">
        <div class="section-wrap">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients-carousel">
                        <div class="item">
                            <img src="{{site.url}}/assets/images/clients/1.png" alt="images/clients/1.png">
                        </div>
                        <div class="item">
                            <img src="{{site.url}}/assets/images/clients/2.png" alt="images/clients/2.png">
                        </div>
                        <div class="item">
                            <img src="{{site.url}}/assets/images/clients/3.png" alt="images/clients/3.png">
                        </div>
                        <div class="item">
                            <img src="{{site.url}}/assets/images/clients/4.png" alt="images/clients/4.png">
                        </div>
                        <div class="item">
                            <img src="{{site.url}}/assets/images/clients/1.png" alt="images/clients/1.png">
                        </div>
                        <div class="item">
                            <img src="{{site.url}}/assets/images/clients/2.png" alt="images/clients/2.png">
                        </div>
                        <div class="item">
                            <img src="{{site.url}}/assets/images/clients/3.png" alt="images/clients/3.png">
                        </div>
                        <div class="item">
                            <img src="{{site.url}}/assets/images/clients/4.png" alt="images/clients/4.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- clients end -->

