<section class="cs-team-area">
    <div class="section-title">
        <div class="cs-ver-section-title cs-hor-section-title">
            <h1>our team</h1>
            <h2>our great team</h2>
            <div class="cs-section-bdr"></div> 
        </div>
    </div>
    <div class="container">
        <div class="section-wrap">
            <div class="row animatedParent animateOnce">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-full-wd480">
                    <div class="cs-team-col animated fadeInLeftShort slow delay-250">
                        <ul class="cs-team-social clearfix mb10">
                            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                        <img src="{{site.url}}/assets/images/team/1.jpg" alt="">
                        <h5>Ben Afflick</h5>
                        <span>interior designer</span>
                        <div class="cs-over-box"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-full-wd480">
                    <div class="cs-team-col animated fadeInLeftShort slow delay-500">
                        <ul class="cs-team-social clearfix mb10">
                            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                        <img src="{{site.url}}/assets/images/team/2.jpg" alt="">
                        <h5>david miller</h5>
                        <span>architect & ceo</span>
                        <div class="cs-over-box"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-full-wd480">
                    <div class="cs-team-col animated fadeInLeftShort slow delay-750">
                        <ul class="cs-team-social clearfix mb10">
                            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                        <img src="{{site.url}}/assets/images/team/3.jpg" alt="">
                        <h5>henry cavill</h5>
                        <span>exterior designer</span>
                        <div class="cs-over-box"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cs-full-wd480">
                    <div class="cs-team-col animated fadeInLeftShort slow delay-1000">
                        <ul class="cs-team-social clearfix mb10">
                            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                        <img src="{{site.url}}/assets/images/team/4.jpg" alt="">
                        <h5>sancho pansa</h5>
                        <span>interior designer</span>
                        <div class="cs-over-box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team end -->