<section class="cs-testimonial-area cs-overlay-black">
        <div class="container">
            <div class="section-wrap">
                <div class="row">
                    <div class="testimonial-1">
                        <div class="item">
                            <div class="testimonial-item">
                                <div class="col-md-8">
                                    <p>My home can now withstand any weather attacks and biological (algae) attacks. Alumills Impression presented the right paint, ensuring that my building became the talk of the town. The excellent color choice got all my friends sharing their thoughts and joy. This was affordable and done in the rapid form. I cant wait for my husband living abroad to come home. </p>
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="col-md-4">
                                    <div class="testimonial-content">
                                        <div class="testimonial-thumb-img">
                                            <div class="border-outline">
                                                <img src="{{site.url}}/assets/images/testimonial/1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4>Nii Obodai</h4>
                                            <p>CEO , Founder</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-item">
                                <div class="col-md-8">
                                    <p>Alumills Impression Limited is quite an outstanding company. Their approach to work conforms to all their values: integrity, punctuality, commitment, creativity, honest relationship with communication, and positive team work. </p>
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="col-md-4">
                                    <div class="testimonial-content">
                                        <div class="testimonial-thumb-img">
                                            <div class="border-outline">
                                                <img src="{{site.url}}/assets/images/testimonial/1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4>Martey Newman Adjiri</h4>
                                            <p>CEO , RONEL Ghana Ltd.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-item">
                                <div class="col-md-8">
                                    <p>We were highly favoured when our windows and doors were finally changed to a the latest glassy and beautiful artwork. The illumination benefits were tremendous. We thank God for the lives of all employees including their CEO, Mr. H. Mills.  </p>
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="col-md-4">
                                    <div class="testimonial-content">
                                        <div class="testimonial-thumb-img">
                                            <div class="border-outline">
                                                <img src="{{site.url}}/assets/images/testimonial/1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4>Prophetess Ivy Tetteh</h4>
                                            <p>Day Break Chapel Internation , Founder</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial end -->