<!DOCTYPE html>
<html lang="en">

<head>
     {% include global/head.html %}
</head>

<body>

    
    <!-- Preloader -->
    <div class="preloader"></div>


    <!-- Main Header / Style Three-->
    {% include global/header.html %}

    <!--Main Slider Goes Here -->
    
        {{content}}
<!--    main content-->

    <!-- footer start-->
    {% include global/footer.html %}
    <!-- footer -->


    <!-- copyright start-->
    <section class="cs-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-6 cs-full-wd480 cs-res-text-center480">
                    <div class="cs-copyright-col">
                        <h5>© Copyright 
                            <script type="text/javascript">document.write(new Date().getFullYear());</script> 
                            - Developed by <a href="http://ronelghana.com" target="_blank"><img src="{{site.url}}/assets/images/logo/logo-ronel-dark.png" alt="RONEL Ghana" style="width:80px; display: inline-block; padding-left: 5px;" ></a>
                        </h5>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6 cs-full-wd480">
                    <div class="cs-copyright-col text-right cs-res-text-center480">
                        <div class="cs-socile-group">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- copyright end -->

    <!-- scroll-to-top start -->
    <div class="scroll-to-top scroll-to-target" data-target=".page-top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
    <!-- scroll-to-top end -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{site.url}}/assets/js/jquery.min.js"></script> 
    <script src="{{site.url}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.url}}/assets/js/revolution.min.js"></script>  
    <script src="{{site.url}}/assets/js/jquery.fancybox.pack.js"></script> 
    <script src="{{site.url}}/assets/js/jquery.fancybox-media.js"></script>
    <script src="{{site.url}}/assets/js/jquery.flexslider-min.js"></script>
    <script src="{{site.url}}/assets/js/jquery.isotope.js"></script>
    <script src="{{site.url}}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{site.url}}/assets/js/imagesloaded.js"></script>
    <script src="{{site.url}}/assets/js/owl.js"></script>
    <script src="{{site.url}}/assets/js/css3-animate-it.js"></script>
    <script src="{{site.url}}/assets/js/validate.js"></script> 
    <script src="{{site.url}}/assets/js/custom.js"></script>

</body>
</html>
<!-- Localized -->