<section class="main-slider default-style style-one">
    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>
            <li data-transition="curtain-2" data-slotamount="1" data-masterspeed="1000" data-thumb="{{site.url}}/assets/images/slider/1.jpg"  data-saveperformance="off"  data-title="frameless glass partitioning"> <img src="{{site.url}}/assets/images/slider/1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center"
                    data-y="center"
                    data-hoffset="0"
                    data-voffset="-60"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutBounce"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn">
                    <h6 class="sub-title-1">We run on a well - planned designing system</h6>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center"
                    data-y="center"
                    data-hoffset="0"
                    data-voffset="0"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeInOutQuart"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeOut">
                    <h2 class="slider-title-1">Office Partitioning <span>work</span></h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center"
                    data-y="center"
                    data-hoffset="30"
                    data-voffset="90"
                    data-speed="1500"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="officepartition.html" class="btn slider-btn">Learn more</a>
                </div>
            </li>
            <li data-transition="slideleft" data-slotamount="1" data-masterspeed="2000" data-thumb="{{site.url}}/assets/images/slider/3.jpg"  data-saveperformance="off"  data-title="Glass windows & doors"> <img src="{{site.url}}/assets/images/slider/3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center"
                    data-y="center"
                    data-hoffset="0"
                    data-voffset="20"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeInOutQuart"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeOut">
                    <h2 class="slider-title-3 text-center">Illuminate the world around <span>you</span></h2>
                </div>
            </li>
            <li data-transition="boxfade" class="" data-slotamount="5" data-masterspeed="1000" data-thumb="{{site.url}}/assets/images/slider/2.jpg"  data-saveperformance="off"  data-title="office interior designs"> <img src="{{site.url}}/assets/images/slider/2.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center"
                    data-y="center"
                    data-hoffset="0"
                    data-voffset="-50"
                    data-speed="900"
                    data-start="1700"
                    data-easing="easeOutBack"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn">
                    <!--<h2 class="sub-title-2">Locate your Building Master</h2> -->
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="550"
                    data-y="bottom"
                    data-hoffset="0"
                    data-voffset="0"
                    data-speed="1500"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn">
                    <!-- <div class="slider-title-2-img">
                        <img class="" src="{{site.url}}/assets/images/slider/s1.jpg" alt=""></div> -->
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="90"
                    data-y="290"
                    data-hoffset="250"
                    data-voffset="0"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeInOutQuart"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeOut">
                    <!--<h2 class="slider-title-2 text-center"><span>Curtain Walling </span><br>Glassy wall with a touch <span>designed well</span></h2> -->
                      <h2 class="slider-title-02">Curtain <span>Walling</span></h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="60"
                    data-y="150"
                    data-hoffset="0"
                    data-voffset="150"
                    data-speed="1500"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn">
                    <div class="slider-title-2-border">
                        <div class="slider-title-2-round"></div>
                    </div>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="800"
                    data-y="400"
                    data-hoffset="0"
                    data-voffset="150"
                    data-speed="1500"
                    data-start="2000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn">
                  <!--  <p class="slider-title-2-content text-right">Archited : Annie D. Doston <br>Location: Bucharest, Romania<br>Date Sterted: 15.08.2014<br>Date Completed : 10.01.2016</p> -->
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
</section>
